<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 引入属性文件 -->
	<properties resource="db.properties"></properties>

	<!-- 开启延迟加载 -->
	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="cacheEnabled" value="true" />
	</settings>

	<!-- 设置类的别名 -->
	<typeAliases>
		<package name="cn.wzd.mybatis.po" />
	</typeAliases>

	<!-- mybati和spring整合后，不需要进行该配置 -->
	<!-- <environments default="development"> <environment id="development"> 
		<transactionManager type="JDBC"/> <dataSource type="POOLED"> <property name="driver" 
		value="${jdbc.driver}"/> <property name="url" value="${jdbc.url}"/> <property 
		name="username" value="${jdbc.username}"/> <property name="password" value="${jdbc.password}"/> 
		</dataSource> </environment> </environments> -->

	<!-- 设置mapper -->
	<mappers>
		<mapper resource="mybatis-mapper/UserDaoMapper.xml" />
		<package name="cn.wzd.mybatis.mapper" />
	</mappers>
</configuration>